{%- style -%}
.container {
  display: flex;
  justify-content: center;
}

.feature-section {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
}

.feature-section > div {
  display: flex;
  flex-direction: column;
}
{%-  endstyle -%}

<div class="container">
  <div class="feature-section">
    <div>
      <div class="text-red-500">
        Plug-and-Play
      </div>
      <div>
        Mit einfacher Plug&Play-Installation können Sie Ihr Balkonkraftwerk einfach in eine Steckdose stecken - ohne aufwändige Montage oder Fachkenntnisse.
      </div>
    </div>
    <div>test</div>
    <div>test</div>
  </div>
</div>