<div class="tw-bg-sky-300 tw-my-16">
  <div class="tw-container tw-mx-auto tw-max-w-[1400px] tw-py-16 md:tw-px-12 tw-px-4 tw-grid tw-grid-cols-1 md:tw-grid-cols-5 tw-gap-6 md:tw-gap-12">
    <div class="tw-col-span-5 tw-row-span-4 md:tw-col-span-2 tw-flex tw-flex-col tw-gap-3">
      <h2 class="tw-text-[30px] md:tw-text-[40px]">Häufig gestellte Fragen</h2>
      <p class="tw-text-gray-600 tw-pr-6">
        Sie können die gesuchte Antwort nicht finden? Wenden Sie sich an unser Support-Team.
      </p>
    </div>

    <div class="tw-col-span-5 md:tw-col-span-3">
      <p class="tw-text-lg tw-font-semibold tw-text-black">Wie und wann wird mir die Anlage geliefert?</p>
      <p class="tw-mt-2 tw-text-base tw-leading-7 tw-text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Augue interdum velit euismod in pellentesque massa. Feugiat scelerisque varius morbi enim nunc
        faucibus a pellentesque sit. Eu volutpat odio facilisis mauris sit amet.
      </p>
    </div>

    <div class="tw-col-span-5 md:tw-col-span-3">
      <p class="tw-text-lg tw-font-semibold tw-text-black">Welche Einzelteile brauche ich für die Inbetriebnahme?</p>
      <p class="tw-mt-2 tw-text-base tw-leading-7 tw-text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Augue interdum velit euismod in pellentesque massa. Feugiat scelerisque varius morbi enim nunc
        faucibus a pellentesque sit. Eu volutpat odio facilisis mauris sit amet.
      </p>
    </div>

    <div class="tw-col-span-5 md:tw-col-span-3">
      <p class="tw-text-lg tw-font-semibold tw-text-black">Wie viel Strom darf die Anlage maximal erzeugen?</p>
      <p class="tw-mt-2 tw-text-base tw-leading-7 tw-text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Augue interdum velit euismod in pellentesque massa. Feugiat scelerisque varius morbi enim nunc
        faucibus a pellentesque sit. Eu volutpat odio facilisis mauris sit amet.
      </p>
    </div>

    <div class="tw-col-span-5 md:tw-col-span-3">
      <p class="tw-text-lg tw-font-semibold tw-text-black">
        Muss ich die Installation bei meinem Stromanbieter melden?
      </p>
      <p class="tw-mt-2 tw-text-base tw-leading-7 tw-text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Augue interdum velit euismod in pellentesque massa. Feugiat scelerisque varius morbi enim nunc
        faucibus a pellentesque sit. Eu volutpat odio facilisis mauris sit amet.
      </p>
    </div>
  </div>
</div>
