<div class="tw-container tw-mx-auto tw-max-w-[1400px] tw-py-16 md:tw-px-12 tw-px-4">
  <video autoplay muted loop playsinline id="myVideo" class="updog tw-w-full tw-aspect-video tw-rounded-2xl">
    <source src="https://cdn.shopify.com/videos/c/o/v/dafa50aeec744681a987096d6fb2c579.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
</div>
