<div class="tw-container tw-mx-auto tw-max-w-[1400px] tw-py-16 md:tw-px-12 tw-px-4 tw-grid tw-grid-cols-2">
  <div>
    <h2 class="tw-text-[30px] md:tw-text-[40px]">
      Bestellen Sie noch heute Ihr Balkonkraftwerk und machen Sie den ersten Schritt in eine grünere Zukunft!
    </h2>
  </div>
  <div>bild1</div>
</div>
