<div class="tw-container tw-mx-auto tw-max-w-[1400px] tw-py-16 md:tw-px-12 tw-px-4 tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-6">
  <div class="md:tw-order-last tw-col-span-1 tw-aspect-[4/3] tw-bg-gray-300 tw-rounded-2xl">bild</div>
  <div class="tw-flex tw-flex-col tw-gap-6 tw-justify-center md:tw-order-first">
    <h2 class="tw-text-[30px] md:tw-text-[40px]">Nutzen Sie die Kraft der Sonne!</h2>
    <p class="tw-mt-2 tw-text-base tw-leading-7 tw-text-gray-600 tw-pr-6">
      Bestellen Sie noch heute Ihr Balkonkraftwerk und machen Sie den ersten Schritt in eine grünere Zukunft.
    </p>
    <div>
      <a
        href="shopify:\/\/collections\/all"
        class="button button--primary"
      >
        Produkte anshehen
      </a>
    </div>
  </div>
</div>
